*{
			-webkit-background-size: cover;
			background-size: cover;
		}
		html, body{
			margin: 0;
			padding: 0;
		}
		section{
			height: 125px;
			top: 0;
			left: 0;
			background-color: pink;
			opacity: .5;
			position: fixed;
			width: 100%;
			z-index: 1;
		}
		header{
			height: 100vh;
			width: 100%;
			text-align: center;
			/*   position: relative; */
			background: url(Кро765.png) center center no-repeat;
			-webkit-background-size: cover;
			background-size: cover;

		}
		header img{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			object-fit: cover; 
			object-position: center center;
		}
		@media only screen and (max-width: 768px) {
			section{
				height: 110px;
			}
			header{
/* 				background-image: url(mob-1.png); */
			}
		}
